body{
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}